  @supports (mix-blend-mode: multiply) {
            font {
                position: relative;
                overflow: hidden;
                background-color: magenta;
                background-blend-mode: screen;
            }
            font:before,
            font:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: inherit;
                mix-blend-mode: multiply;
                transform: scale(1.05);
            }
            font:before {
                background-color: yellow;
                background-blend-mode: screen;
                transform-origin: top left;
            }
            font:after {
                background-color: cyan;
                background-blend-mode: screen;
                transform-origin: bottom right;
            }
        }