  @supports (mix-blend-mode: multiply) {
            * {
                position: relative !important;
                overflow: hidden !important;
                background-color: magenta !important;
                background-blend-mode: screen !important;
            }
            *:before,
            *:after {
                display: block !important;
                content: "" !important;
                position: absolute !important;
                top: 0 !important;
                left: 0 !important;
                right: 0 !important;
                bottom: 0 !important;
                background: inherit !important;
                mix-blend-mode: multiply !important;
                transform: scale(1.05) !important;
            }
            *:before {
                background-color: yellow !important;
                background-blend-mode: screen !important;
                transform-origin: top left !important;
            }
            *:after {
                background-color: cyan !important;
                background-blend-mode: screen !important;
                transform-origin: bottom right !important;
            }
        }